.vscode/c_cpp_properties.json
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Random_code/v17/.suo
.vs/Random_code/v17/Browse.VC.db
.vs/Random_code/v17/ipch/AutoPCH/94ac28869aa0133f/WEEK1-1.ipch
